# Frontend packages
@lottiefiles/dotlottie-react
@monaco-editor/react
axios
firebase
lucide-react
react
react-dom
react-router-dom
react-syntax-highlighter
@eslint/js
@types/react
@types/react-dom
@vitejs/plugin-react
autoprefixer
eslint
eslint-plugin-react-hooks
eslint-plugin-react-refresh
globals
postcss
tailwindcss
vite


